{% extends 'base.html.twig' %}

{% block title %}Hello PropertyController!{% endblock %}

{% block body %}
    <figure>
        <img class="img-fluid" src="{{ asset('img/trainbanner.jpeg') }}" style="height: 200px" width="3000px">
    </figure>

    <h1 class="bg-dark text-white">Welcome to the bestel pagina</h1>





    {% include "sport/footer.html.twig" %}
{% endblock %}
