{% extends 'base.html.twig' %}

{% block title %}Hello SportController!{% endblock %}

{% block body %}



    <figure>
        <img class="img-fluid" src="{{ asset('img/trainbanner.jpeg') }}" style="height: 200px" width="3000px">
    </figure>
    <h1 class="bg-dark text-white">Welcome to our page, Employee page</h1>



    {% include "sport/footer.html.twig" %}

{% endblock %}
