body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 1000px;
  max-width: 400px;
  height: 1000;


}

.card h1 {
  text-align: center;
  margin-bottom: 30px;
  
}

.card form {
  display: flex;
  flex-direction: column;
}

.card label {
  margin-bottom: 10px;
}

.card input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

.footer a {
  color: #4CAF50;
  text-decoration: none;
}

.logoImg {
  height: 70px;
}
