<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<footer>
    <i class="bi bi-linkedin float-end img-thumbnail d-none d-md-block"></i>
    <i class="bi bi-instagram float-end img-thumbnail d-none d-md-block"></i>
    <i class="bi bi-door-closed-fill float-end img-thumbnail d-none d-md-block"></i>





    <h3 class="clearfix pb-3 text-muted mt-4 text-center">Dit is gemaarkt door Juwara.</h3>

</footer>
</body>
</html>

